@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/grid';
@import 'src/sass/theme';
header {
  background-color: #24292e;
  display: flex;
  flex-direction: row;
  height: 50px;
  place-items: center;
  padding: 0 24px;

  h1 {
    text-align: center;
    color: white;
    width: 100%;
  }
}

nav {
  padding-left: calc(25% + 24px);
  border-bottom: 0.25px solid #707070;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f6f6f6;

  a {
    color: #555a70;
    padding: 5px;
    margin: 0 8px;
    &.active{
          border-bottom: 2px solid transparent;
          border-bottom-color: #f9826c;
          outline-offset: -1px;
    }

  }
}
.wrapper{
  height: 100%;
  padding: 24px;
  .left{
    width: 25%;
    float: left;
        margin-top: -50px;
    .user-img{
            border-radius: 50%;
            z-index: 3;
            position: relative;
    }
  }
  .right{
    width: 75%;
    float: left;
    height: 100%;
  }
}

.fname{
  text-align: center;
}
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);







.simplebar-scroll-content {
  min-width: 100%!important;
  max-height: inherit!important;
  -webkit-box-sizing: content-box!important;
  box-sizing: content-box!important;
}

.simplebar-content {
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
  min-height: 100%!important;
}




