@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/grid';
@import 'src/sass/theme';
header {
  background-color: #24292e;
  display: flex;
  flex-direction: row;
  height: 50px;
  place-items: center;
  padding: 0 24px;

  h1 {
    text-align: center;
    color: white;
    width: 100%;
  }
}

nav {
  padding-left: calc(25% + 24px);
  border-bottom: 0.25px solid #707070;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;

  a {
    color: #555a70;
    padding: 5px;
    margin: 0 8px;
    &.active{
          border-bottom: 2px solid transparent;
          border-bottom-color: #f9826c;
          outline-offset: -1px;
    }

  }
}
p i.fa{
  margin-right: 0.75em;
}
a p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrapper{
  min-height: 100%;
  padding: 24px;
  max-width: 1280px;
  margin: 0 auto;
  .left{
    width: 25%;
    float: left;
        margin-top: -50px;
    .user-img{
            border-radius: 50%;
            z-index: 3;
            position: relative;
    }
    .name{
      color: #24292e;
      font-size: 1.25em;
      font-weight: bold;
    }
    .buttons{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      button{
        margin-top: 0.3em;
        padding: 0.5em 1em;
        border: none;
        outline: none;
        border-radius: 5px;
      }
    }
  }
  .right{
    width: 75%;
    float: left;
    height: 100%;
    padding-left: 1em;
max-width: 720px;
position: relative;

  }
}

.fname{
  text-align: center;
}
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);







.simplebar-scroll-content {
  min-width: 100%!important;
  max-height: inherit!important;
  -webkit-box-sizing: content-box!important;
  box-sizing: content-box!important;
}

.simplebar-content {
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
  min-height: 100%!important;
}


.footer{
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
  .bdr{
        border-top: 1px solid #eaecef;
  }
  a{
    color: #0366d6;
    font-size: 0.8em;
  }
  .list-style-none{
    list-style: none;
    li{
      display: inline-block;
      padding: 0.3em 0.5em;
      margin: 0.5em 0.75em;
    }
  }
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        justify-content: center;
  }
}

