<div class="wrapper">
  <h2>Popular repositories</h2>
  <div class="card-wrapper">
    <div class="card" *ngFor="let repo of repos">
      <a [href]="repo?.html_url" target="_blanck">
        <p class="name">{{ repo?.name }}</p>
      </a>
      <p class="desc">{{ repo?.description }}</p>
      <div class="card-bottom">
        <span>
          <i class="fa fa-circle"></i>

          {{ repo?.language }}
        </span>
        <span>
          <i class="fa fa-code-fork"></i>
          {{ repo?.forks_count }}
        </span>
      </div>
    </div>
  </div>
  <div class="activities">
    <img src="assets/contri.png" alt="" />
    <h3>Contribution activity</h3>

    <div *ngFor="let yearData of activies">
      <div *ngFor="let monthData of yearData?.data" class="month-data">
        <h3 class="timeline">
          <span>{{ monthData?.name }} &nbsp; {{ yearData?.year }}</span>
        </h3>

        <div *ngFor="let eventData of monthData?.data" class="events">
          <div class="event-badge">
            <i class="fa fa-github-square"></i>
          </div>
          <span class="event" (click)="eventData.show = !eventData.show"
            >Created {{ eventData.total }} {{ eventData?.event }} in
            {{ eventData?.repos?.length }} Repository

            <i
              class="fa icon"
              [ngClass]="{
                'fa-caret-down': !eventData.show,
                'fa-caret-up': eventData.show
              }"
            ></i>
          </span>

          <ng-container *ngIf="eventData?.show">
            <div *ngFor="let repo of eventData?.repos">
              <a [href]="'https://github.com/' + repo?.name" target="_blanck">
                <p class="name">{{ repo?.name }}</p>
              </a>
              <p class="desc">{{ repo?.count }} Actions</p>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loader" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
